*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open-Sans, Helvetica, Sans-Serif;
    ;
}

body
{
    height: 100vh;
    background-image: url("./imges/nature-319.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
 
}
.form{
    display: flex;
    flex-direction: column;
}